table {
  
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 5px, 10px, 0px, 10px;
  max-width: 80%;

}

table td,
table.table th {
  border: 1px solid #ffffff;
  padding: 4px 3px;

}

table tbody td {
  font-size: 13px;
  color: #332929;
}

th {
  padding-left: 10px;
  padding-right: 10px;
}

table tr:nth-child(even) {
  background: #D0E4F5;
}

table thead {
  background: #CB07B3;
  background: -moz-linear-gradient(top, #d687cd 0%, #d01fba 66%, #CB07B3 100%);
  background: -webkit-linear-gradient(top, #d687cd 0%, #d01fba 66%, #CB07B3 100%);
  background: linear-gradient(to bottom, #d687cd 0%, #d01fba 66%, #CB07B3 100%);

}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 1px solid #D0E4F5;
  text-transform: uppercase;
}

table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 15px;
}

table tfoot .links {
  text-align: right;
}

table tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.box-button {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  justify-content: space-evenly;
  margin: 8px;
}

img {
  padding: 3px;
  max-width: 20px;
}
.crear-button
img:hover {
  border-radius: 5px;
}

a .crear-button {

  align-items: center;
  

}

.crear-button img {
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: #e2f600;
  border-color: #0085ff;
  box-shadow: 0 0 5px #0085ff;
}

.edit-button:hover img {
  background-color: #ffe600;
}

.delete-button:hover img {
  background-color: #ff0000;
}

/* The modal background */
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  /* Position the modal */
  z-index: 1;
  /* Make sure it appears on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scrolling if the content is too tall */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black background with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* Center the modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Set the width of the modal */
}

/* Close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}