<html>

<head>
    <meta charset="UTF-8">
    <title>PowerSuplements</title>

    <link rel="stylesheet" type="text/css" href="productos_view.css" />
    <!-- <script src="productos_view.js" type="module"></script> -->
    <script src="table.js" type="module"></script>
</head>

<body>
    <table id="table">
        <thead>
            <th>#</th>
            <th>nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>descripcion</th>
            <th>stock</th>
            <th>link</th>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

</body>


</html>