
@import '/src/main/webapp/components/forms.css';



alta-venta{

    display: flex;
    flex-direction: column;
}

.spinner{
    width: 3em;
}

.create-button {

    width: 30px;
    height: 30px;
    border-style: none;
    box-shadow: 0 0 5px #0085ff;
    border-radius: 5px;
    background-image: url('/assets/bottons/add.png');
    background-size: contain;
    background-position: center;
    margin-right: 5px;
    border-color: #0085ff;
    box-shadow: 0 0 5px #0085ff;
    margin-bottom: 10px;
    padding: 5px;

}

.precio-label, .subtotal {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    width: 5em;
}

.create-button:hover {
    border-radius: 5px;
    background-color: #ff5e01;
}