/* The modal background */
.modal {
	display: none;
	/* Hide the modal by default */
	position: fixed;
	/* Position the modal */
	z-index: 1;
	/* Make sure it appears on top of other elements */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scrolling if the content is too tall */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black background with opacity */
}

/* Modal content */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* Center the modal vertically and horizontally */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Set the width of the modal */
}

/* Close button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}